//inspiring-awakening.euw-3.palantirfoundry.co.uk/artifacts/api/repositories/ri.artifacts.main.repository.b14f3921-dfb9-4ad1-b414-5d4ae8bf11f4/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@jegs-sick-note-app:registry=https://inspiring-awakening.euw-3.palantirfoundry.co.uk/artifacts/api/repositories/ri.artifacts.main.repository.b14f3921-dfb9-4ad1-b414-5d4ae8bf11f4/contents/release/npm/
